.entryText {
	text-align: left;
	font-size: 1.25rem;
	max-width: 75ch;
	padding-inline: 2ch;
	margin: 3.5rem auto 1rem auto;
}

.entryText > li + li {
	margin-top: 0.75em;
}

.subList {
	text-align: left;
	font-size: 1rem;
	max-width: 75ch;
	padding-inline: 2ch;
	margin: 0.5rem auto 1rem auto;
}

.fraction {
	display: flex;
	flex-direction: column;
	justify-items: center;
	line-height: 2;
	margin-top: 10px;
}

.fraction > *:not(hr) {
	margin-inline: auto;
}

.fraction > hr {
	border: none;
	height: 2px;
	background-color: #333; /* Modern Browsers */
}

.fraction > hr {
	width: 100%;
}

.outerBracket {
	font-size: 4rem;
	align-items: center;
	line-height: 0.5;
	display: block;
	height: 100%;
}

.paranthesis {
	font-size: 3rem;
	align-items: center;
	line-height: 0.5;
	display: block;
	height: 100%;
}

.sup {
	font-size: 1rem;
	margin-left: -0.5rem;
}

.minus {
	font-size: 2rem;
	align-items: center;
	display: block;
	height: 100%;
	line-height: 0.65;
}

.one {
	margin-top: 3%;
	display: block;
	line-height: 0.5;
}
.fullExpression {
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.2rem;
}

.mainWrapper {
	max-width: 1200px;
}

.nameEntry > * {
	display: block;
	margin: auto;
	text-align: center;
}

.nameEntry > * + * {
	margin-top: 0.75em;
}

.nameEntry > button {
	font-size: 1.65rem;
	padding: 0.6rem 1.1rem;
}

.ballText {
	text-align: center;
	font-size: 1.5rem;
	max-width: 75ch;
	margin: 5.5rem auto 1rem auto;
}

.ballText > p {
	margin-bottom: 2ch;
}

.bagHolder {
	display: flex;
	gap: 10%;
	margin-inline: auto;
	width: 1000px;
	justify-content: center;
}

.bagHolder > * {
	padding: 2ch;
}

.bagHolder > :nth-child(1) > :not(:last-child),
.bagHolder > :nth-child(2) > :not(:last-child) {
	margin-bottom: 1.5ch;
}

.bagHolder > :nth-child(2) {
	border: 5px #55acee solid;
	border-radius: 3ch;
}

.bagHolder > :nth-child(1) {
	border: 5px #dd2e44 solid;
	border-radius: 3ch;
}

.ballHolder {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	font-size: 3vh;
	grid-gap: 0px;
	line-height: 2ch;
}

.reward {
	margin: 3ch;
	text-align: center;
	margin-top: 5ch;
	-webkit-animation: fadeIn 3s;
	animation: fadeIn 3s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.topbar {
	width: 100vw;
	margin-top: 0px;
	padding: 1ch 5ch;
	display: flex;
	gap: 3ch;
	z-index: 300;
	box-shadow: 0 4px 2px -2px rgb(203, 203, 203);
}

.stairStep {
	transition: all 0.5s ease-in;
}
