.entryText {
	text-align: left;
	font-size: 1.5rem;
	max-width: 75ch;
	padding-inline: 2ch;
	margin: 5.5rem auto 1rem auto;
}

.entryText > li + li {
	margin-top: 0.75em;
}

/* .mantine-List-item{
	list-style-position: inside !important; 
} */

.mainWrapper {
	max-width: 1200px;
}

.nameEntry > * {
	display: block;
	margin: auto;
	text-align: center;
}

.nameEntry > * + * {
	margin-top: 0.75em;
}

.nameEntry > button {
	font-size: 1.65rem;
	padding: 0.6rem 1.1rem;
}

/* .debug {
	position: absolute;
	left: 5px;
} */

.ballText {
	text-align: center;
	font-size: 1.5rem;
	max-width: 75ch;
	margin: 5.5rem auto 1rem auto;
}

.ballText > p {
	margin-bottom: 2ch;
}

.bagHolder {
	display: flex;
	gap: 10%;
	/* margin: 5% 10%; */
	/* margin-bottom: 10ch; */
	margin-inline: auto;
	width: 1000px;
	justify-content: center;
}

.bagHolder > * {
	padding: 2ch;
	/* margin-inline:auto; */
	/* text-align: center; */
	/* width: 26ch; */
}
/* div.__className_4b5723:nth-child(1) > div */
.bagHolder > :nth-child(1) > :not(:last-child),
.bagHolder > :nth-child(2) > :not(:last-child) {
	margin-bottom: 2ch;
}

.bagHolder > :nth-child(2) {
	border: 5px #55acee solid;
	border-radius: 3ch;
}

.bagHolder > :nth-child(1) {
	border: 5px #dd2e44 solid;
	border-radius: 3ch;
}

.ballHolder {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	font-size: 3vh;
	grid-gap: 0px;
	line-height: 2ch;
}

.reward {
	margin: 3ch;
	text-align: center;
	margin-top: 5ch;
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	/* top: calc(100% - 56px); */
	height: 55px;
	left: 0px;
	text-align: right;
	font-weight: 800;
	padding: 20px;
	padding-bottom: 20px;
	padding-right: calc(50vw - 600px);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: rgb(226, 241, 247);
	margin-top: auto;
}

.footer > a {
	color: rgb(47, 47, 203);
}

.topbar {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	background-color: rgb(226, 241, 247);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
	margin-top: 0px;
	padding: 1ch 5ch;
	display: flex;
	gap: 3ch;
	z-index: 300;
}

.stairStep {
	transition: all 0.5s ease-in;
}
